<mat-grid-list cols="1">
  <mat-grid-tile-header colspan="7" rowheight="10vh">
    <mat-toolbar>
      <span>Noname App</span>
    </mat-toolbar>
  </mat-grid-tile-header>
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="90vh">
  <mat-grid-tile colspan="1">
    <mat-nav-list>
      @for (link of list; track link) {
      <a
        mat-list-item
        routerLink="{{ link.url }}"
        routerLinkActive
        >{{ link.title }}</a
      >
      }
    </mat-nav-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="6" class="align-items-top justify-content-start">
    <div class="w-100">
      <router-outlet></router-outlet>    
    </div>
  </mat-grid-tile>
</mat-grid-list>

